/* CSS RESET */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

/* ##################*/
/* CSS CONTENT*/
/* ##################*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  min-width: 100%;
  margin-bottom: 2.5rem;
  color: black;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  color: #313f4d;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
}

em {
  color: #4d3ff6;
  font-style: normal;
}

strong {
  font-weight: 600;
}

p {
  font-weight: 300;
  color: #425466ba;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

header {
  width: 95%;
  max-width: 130rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

main {
  width: 95%;
  max-width: 130rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.navIcon {
  font-weight: 700;
  font-size: 2.5rem;
}

.navButtons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;
}

.introductionWrapper {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introductionWrapper p {
  margin-bottom: 2.5rem;
}

.userImage {
  border-radius: 50%;
  width: 40%;
  margin-bottom: 2.5rem;
  background: #4e3ff627;
  animation: animationperso 1.5s alternate infinite ease-in-out;
}

.contactWrapper {
  width: 100%;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}

.buttonWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  margin-bottom: 2.5rem;
}

.button {
  min-height: 5rem;
  padding: 0 3rem;
  white-space: nowrap;
  border-radius: 5rem;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
  will-change: transform;
}

.button:hover {
  transform: translateY(-5px);
}

.resumeButton {
  background-color: #4d3ff6;
  color: white;
}

.downloadIcon {
  margin-right: 0.5rem;
}

.blogButton {
  background: rgb(127 129 143 / 14%);
}

.socialWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2.5rem;
}

.socialIcon {
  width: 4rem;
  transition: transform 0.2s;
}

.socialIcon:hover {
  transform: rotate(-15deg);
  filter: brightness(80%);
}

.wrapperTitle {
  margin: 5rem;
}

.projectWrapper {
  width: 100%;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin-bottom: 5rem;
}

.projectComponent {
  height: 100%;
  border-radius: 2rem;
  box-shadow: rgb(17 12 46 / 9%) 0px 48px 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  text-align: left;
  /* padding: 4rem; */
}

.projectImage {
  width: 100%;
  object-fit: cover;
  height: 25rem;
  border-radius: 3.5rem;
  padding: 2rem;
  /* box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px; */
}

.projectText {
  padding: 1rem 3rem 4rem 3rem;
}

.projectTitle {
  margin-bottom: 1rem;
}

.projectDescription {
  margin-bottom: 1.5rem;
}

.projectStack {
  font-size: 1.4rem;
  color: #425466a6;
  font-weight: 300;
}

.techWrapper {
  display: grid;
  width: 100%;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: minmax(20rem, 1fr);
}

.techComponent {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20%;
  border-radius: 2rem;
  background: rgb(127 129 143 / 14%);
}

.techComponent img {
  max-height: 10rem;
  max-width: 15rem;
}

.html {
  background: #f165292b;
}

.css {
  background: #2b64f11f;
}

.javascript {
  background: #f0bf2424;
}

.bootstrap {
  background: #563c7c24;
}

.vuejs {
  background: #6cbf483b;
}

.mongodb {
  background: #6cbf483b;
}

.nodejs {
  background: #6cbf483b;
}

.heroku {
  background: #563c7c24;
}

.aws {
  background: #f0bf2424;
}

.googlecloud {
  background: #2b64f11f;
}

.figma {
  background: #f165292b;
}

@media only screen and (max-width: 500px) {
  .resumeNav {
    display: none;
  }

  .techWrapper {
    display: grid;
    width: 100%;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: minmax(12rem, 1fr);
  }
}
/* ANIMATIONS */

/* Photo personnelle animation code */
@keyframes animationperso {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}
