/* CSS RESET */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

/* ##################*/
/* CSS CONTENT*/
/* ##################*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  min-width: 100%;
  margin-bottom: 2.5rem;
  color: black;
}

body {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  color: #313f4d;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
}

em {
  color: #4d3ff6;
  font-weight: 500;
  font-style: normal;
}

p {
  font-weight: 300;
  color: #425466ba;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

header {
  width: 95%;
  max-width: 130rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

main {
  width: 95%;
  max-width: 130rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.navIcon {
  font-weight: 700;
  font-size: 2.5rem;
}

.navButtons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;
}

.introductionWrapper {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introductionWrapper p {
  margin-bottom: 2.5rem;
}

.userImage {
  border-radius: 50%;
  width: 40%;
  margin-bottom: 2.5rem;
  background: #4e3ff627;
  animation: animationperso 1.5s alternate infinite ease-in-out;
}

.contactWrapper {
  width: 100%;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}

.buttonWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  margin-bottom: 2.5rem;
}

.button {
  min-height: 5rem;
  padding: 0 3rem;
  white-space: nowrap;
  border-radius: 5rem;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
  will-change: transform;
}

.button:hover {
  transform: translateY(-5px);
}

.resumeButton {
  background-color: #4d3ff6;
  color: white;
}

.downloadIcon {
  margin-right: 0.5rem;
}

.blogButton {
  background: rgb(127 129 143 / 14%);
}

.socialWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2.5rem;
}

.socialIcon {
  width: 4rem;
  transition: transform 0.2s;
}

.social:hover {
  transform: rotate(-15deg);
  filter: brightness(80%);
}

.wrapperTitle {
  margin: 0;
  grid-column: 1/-1;
}

.projectWrapper {
  width: 100%;
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.projectComponent {
  height: 100%;
  border-radius: 3rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  text-align: left;
  /* padding: 4rem; */
}

.projectImage {
  width: 100%;
  object-fit: cover;
  height: 20rem;
  border-radius: 2rem 2rem 0 0;
  /* margin-bottom: 1.5rem; */
}

.projectText {
  padding: 3rem 4rem 4rem 4rem;
}

.projectTitle {
  margin-bottom: 1rem;
}

.projectDescription {
  margin-bottom: 1.5rem;
}

.projectStack {
  font-size: 1.4rem;
  color: #425466a6;
  font-weight: 300;
}

/* ANIMATIONS */

/* Photo personnelle animation code */
@keyframes animationperso {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}
